# Prioritize Dart as the primary language
*.dart linguist-language=Dart

# Mark all CMake-related files as vendored
*.cmake linguist-vendored
CMakeLists.txt linguist-vendored

# Vendoring C++ and header files to avoid skewing language detection
*.h linguist-vendored
*.cpp linguist-vendored

# Vendoring the entire Android and iOS directories, which include native code
android/** linguist-vendored
ios/** linguist-vendored

